[submodule ".vim/pack/plugins/start/quick-scope"]
	path = .vim/pack/plugins/start/quick-scope
	url = https://github.com/unblevable/quick-scope
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".zsh-custom/plugins/k"]
	path = .zsh-custom/plugins/k
	url = https://github.com/supercrabtree/k
[submodule ".zsh-custom/plugins/zsh-autosuggestions"]
	path = .zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".zsh-custom/themes/git-prompt.zsh"]
	path = .zsh-custom/themes/git-prompt.zsh
	url = https://github.com/woefe/git-prompt.zsh
[submodule ".vim/pack/plugins/start/rosepine"]
	path = .vim/pack/plugins/start/rosepine
	url = https://github.com/rose-pine/vim
[submodule ".vim/pack/plugins/start/lightline.vim"]
	path = .vim/pack/plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/pack/plugins/start/fern.vim"]
	path = .vim/pack/plugins/start/fern.vim
	url = https://github.com/lambdalisue/vim-fern.git
