[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/plugins/start/quick-scope"]
	path = .vim/pack/plugins/start/quick-scope
	url = https://github.com/unblevable/quick-scope
[submodule ".vim/pack/plugins/start/dracula"]
	path = .vim/pack/plugins/start/dracula
	url = https://github.com/dracula/vim
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".zsh-custom/themes/agkozak"]
	path = .zsh-custom/themes/agkozak
	url = https://github.com/agkozak/agkozak-zsh-prompt
[submodule ".zsh-custom/plugins/k"]
	path = .zsh-custom/plugins/k
	url = https://github.com/supercrabtree/k
[submodule ".zsh-custom/plugins/zsh-autosuggestions"]
	path = .zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/plugins/start/nvim-colorizer.lua"]
	path = .vim/pack/plugins/start/nvim-colorizer.lua
	url = https://github.com/NvChad/nvim-colorizer.lua.git
